.industriesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .industriesColumn {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            text-transform: uppercase;
        }
    }
}
