.companyCard {
    padding: 2px 10px 10px;
    border-left: 5px solid #808080;

    &.greenBorder {
        border-color: #008001;
    }

    &.redBorder {
        border-color: #d64646;
    }

    p {
        margin: 0;
    }
}
